.header {
  width: 100%;
  height: 5rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  color: white;

  &__hidden-burger-menu {
    position: absolute;
    z-index: 10;
    width: 13rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background: #006DD9;
    border: 1px solid white;
    justify-self: start;

    &__list {
      // padding-left: 2rem;
      height: 3rem;
      display: flex;
      border-bottom: 1px solid white;

    &__link {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        padding-top: 0.7rem;
        padding-left: 1rem;
      }
    }

    li:nth-child(1){
      border-bottom: none;
    }

    li:nth-child(2n){
      background: #09437e;
    }

    #enclosed-burger {
      align-items: start;
    }

    .enclosed-burger {
      display: flex;
      flex-direction: column;

      &__wrap {
        display: flex;
        margin-bottom: 5px;

        &__arrow {
        transform: rotate(0.75turn) translate(0, 2rem) scale(80%, 80%);

          &:hover div {
            background: #FF9700;
            }

          &:active div {
            background: #fac679;
          }        
        }
      }

      &__wrap-book-lists {
        display: flex;
        flex-direction: column;

        &__link {
          color: white;
          font-size: 1.2rem;
          text-decoration: none;
          padding-left: 3rem;
          width: calc(13rem - 2px);
          height: 1.8rem;
          display: flex;
          align-items: center;
          transition: 0.5s;

           &:hover {
            font-size: 1.3rem;
          }
          &:active {
            opacity: 0.5;
          }
        }

        &__link:nth-child(1) {
          background: #FFB140;
        }

        &__link:nth-child(2) {
          background: #D39F4D;
        }

        &__link:nth-child(3) {
          background: #AC8F59;
        }

        &__link:nth-child(4) {
          background: #7E7C67;
        }

        &__link:nth-child(5) {
          background: #506975;
        }

         &__link:nth-child(6) {
          background: #285981;
        }
         &__link:nth-child(7) {
          background: #022d58;
        }


      }

      &__wrap-game-lists {
        display: flex;
        flex-direction: column;
        
        &__link {
          color: white;
          font-size: 1.2rem;
          text-decoration: none;
          padding-left: 3rem;
          width: calc(13rem - 2px);
          height: 1.8rem;
          display: flex;
          align-items: center;
          transition: 0.5s;

            &:hover {
            font-size: 1.3rem;
          }
          &:active {
            opacity: 0.5;
          }

          
        }

        &__link:nth-child(1) {
          background: #AC8F59;
        }

        &__link:nth-child(2) {
          background: #7E7C67;
        }


      }
    }
  }

  &__form {
    width: 100%;
    height: 90vh;
    display: none;
    position: absolute;
    z-index: 10;
  }

   .pop-up {

     &__body {
        width: 25rem;
       padding: 2rem;
       display: flex;
		   align-items: center;
		   flex-direction: column;
       background: white;
       border: 3px solid #A66200;
       border-radius: 10px;
     }

     &__body-register-form {
       height: 36rem;
     }

     &__body-sign-in-form {
       height: 27rem;
     }

     &__body-error {
       height: 10rem;
     }
   }

  &__nav {
    width: 50%;
    height: 100%;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    &__link {
      color: white;
      text-decoration: none;
      cursor: pointer;
      font-size: 1.2em;
      list-style: none;
    }
  }

  &__burger {
    display: none;
    padding-left: 1rem;
  }

  &__sign {
    width: 20rem;
    height: 100%;
    padding-top: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  &__sign-icon {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    pointer-events: none;
    

    img {
      width: 30px;
      height: 30px;
      margin-bottom: 5px;
    }
  }
}
.register-wrap,
  .sign-in-wrap {
  width: 100%;
  height: 100%;
}

@media (max-width: 1080px) {
  .header {
    &__nav {
       display: none;
    }

    &__burger {
       display: flex;
       width: 40%;
    }
  }
}

@media (max-width: 500px) {
  .header {
  &__sign {
    flex-direction: column;
    align-items: flex-end;

    li {

      padding-bottom: 1rem;
    }
  }
}
}
