.header {
  width: 100%;
  height: 5rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  color: white;
  margin-top: 1rem;

  li {
    cursor: pointer;
    color: white;
    font-size: 1.2em;
    list-style: none;

    &:hover {
      text-decoration: underline white;
    }
  }

  &__form {
    width: 100%;
    height: 90vh;
    display: none;
    position: absolute;
    z-index: 10;
  }

   .pop-up {

     &__body {
        width: 25rem;
       height: 30rem;
       padding: 2rem;
       display: flex;
		   align-items: center;
		   flex-direction: column;
       background: white;
       border: 3px solid #A66200;
       border-radius: 10px;
     }
   }

  &__nav {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    &__link {
      color: white;
      text-decoration: none;
    }
  }

  &__sign {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  &__sign-icon {
    width: 30px;
    height: 30px;
    pointer-events: none;
  }
}
.register-wrap,
  .sign-in-wrap {
  width: 100%;
  height: 100%;
}