@import '../../../css/variables';

.footer {
  padding: 1rem $side-padding;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  -webkit-box-shadow: inset 0px 10px 9px -5px #000000; 
  box-shadow: inset 0px 10px 9px -5px #000000;

  &__links {
    display: flex;
    gap: 2rem;
  }

  &__copyright {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    color: #fff;
  }

  &__link {
    font-weight: 300;
  }

  &__logo {
    height: 3rem;
  }
}