$bg-color: #eef6fd;
$font-color: #30C5FF;
$border-color: #24C5DB;
$shadow-color: #a7d0d0;

$main-color: #006ed9;
$main-color-light: #3b95ec;
$main-color-dark: #00488d;

$second-color: #ff9700;
$second-color-light: #ffb140;
$second-color-dark: #a66200;

$side-padding: 2rem;