@import-normalize;
@import url(style.scss);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-image: linear-gradient(to right, #015AB3, #5382C0 52%, #87A8D4 83%, #8AAAD5 93%, #A5BDDC);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.blocked {
  opacity: 0.5;
  pointer-events: none;  
}

.visible {
  opacity: 1;
  pointer-events: all;
}

.hidden {
  opacity: 0;
}

.displayNone {
  display: none;
}

.displayFlex {
  display: flex;
}
.prelosder {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
}