.game-links {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  &__text {
    height: 100%;
    line-height: 3rem;
    border-right: 1px dashed white;
    // border-left: 1px dashed white;
    padding: 0 1rem;
  }

  &__img {
    transform: rotateZ(90deg);
  }

  &__btn {
    height: 100%;
    padding: 0 1rem;
    border: none;
    outline: none;
    background: #0000;
    cursor: pointer;
    transition: 0.2s;
    border-right: 1px dashed white;


    &:hover img {
      transform: rotateZ(90deg) scale(1.1);
      // transform: scale(1.1);
    }

    &:hover {
      box-shadow: inset 0 0 6px rgba(10, 10, 10, 0.5), 0 0 6px rgba(65, 65, 65, 0.2);
    }
  }
}