.burger-wrap {
  position: absolute;

  &__burger {
  width: 30px;
  height: 25px;
  margin-top: 2rem;
  position: absolute;
  left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 15;
  cursor: pointer;

  &__line {
    width: 30px;
    height: 2px;
    background: white;
   }
  }
}