.register-form-wrap {
	width: 90%;
	height: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	
	h2 {
		color: #00488D;
	}

	form {
		width: 90%;
		height: 80%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		color: #00488D;

		input {
			width: 100%;
			height: 25px;
			padding: 5px;
			background: white;
			color: #00488D;
			border: 1px solid #3B95EC;
		}
		
		button {
			width: 60%;
			height: 30px;
			color: white;
			background: #3B95EC;
			border: 1px solid #00488D;
			border-radius: 5px;
			transition: 0.5s;

			&:hover {
				background: #8dc2f7;
			}

			&:active {
				background-color: #a4c9ee;
			}
		}

		p {
			display: flex;
			justify-content: space-between;
			margin-top: 10px;

			span {
				cursor: pointer;

				&:hover {
					text-decoration: underline #00488D;
				}
			}
		}

	}
	
}