.games-page-wrap {
  h1 {
    margin: 2rem;
  }

  &__sprint {
    width: 100%;
    min-height: 43rem;
    margin-top: 2rem;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;

    &__wrap {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 2rem;
      justify-content: space-around;
      align-items: center;
      background: #93C4E5;

      &__point-panel {
        width: 300px;
        height: 35rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &__heard-wrap {
          width: 245px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          &__heard {
            width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          
          }

          p {
            color: white;
            font-size: 1.4rem;
          }
        }
      }

      &__game {
        max-width: 500px;
        width: 100%;
        height: 35rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &__settings {
          width: 100%;
          height: 3rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: white;
          border-radius: 20px;
          padding: 0 20px;

          &__left {
            width: 220px;
            height: 100%;
            display: flex;
           
          justify-content: space-between;
          align-items: center;

              &__bell-on {
                width: 30px;
              height: 30px;
              background-image: url(../../../img/svg/bell.svg);
              background-position: center;
              background-repeat: no-repeat;
              cursor: pointer;
              transition: .5s;

              &:hover {
                opacity: 0.5;
              }
            }

            &__bell-of {
              width: 30px;
              height: 30px;
              background-image: url(../../../img/svg/bell_none.svg);
              background-position: center;
              background-repeat: no-repeat;
              cursor: pointer;
              transition: .5s;

              &:hover {
                opacity: .5;
              }
            }

            &__level {
              width: 180px;
              height: 1.8rem;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 8px;
              
            }
          }

           &__right {
            width: 200px;
            height: 100%;
           display: flex;
           align-items: center;
           justify-content: end;
         

           &__point {
            color: #006DD9;
            font-size: 2rem;
          }
          }

        }

        &__body {
          width: 100%;
          height: 30rem;
           border: 1px solid white;
        }
      }

      &__timer {
        width: 300px;
        height: 35rem;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: space-around;

        &__clock {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          border: 3px solid white;
          display: flex;
          align-items: center;
          justify-content: center;

          &__time {
            color: white;
            font-size: 6rem;
          }
        }

        &__start {
          width: 8rem;
          height: 2.5rem;
          background: white;
          border-radius: 5px;
          font-size: 1.6rem;
          color: 006DD9;
          border: 2px solid #006DD9;
        }
      }
    }
  }
}
