.games-page-wrap {
  h1 {
    margin: 2rem;
  }

  &__sprint {
    width: 100%;
    height: 45rem;
    margin-top: 2rem;
    padding: 3rem;
    background: white;

    &__wrap {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      background: #93C4E5;

      &__point-panel {
        width: 300px;
        height: 100%;
      }

      &__game {
        width: 500px;
        height: 100%;
      }

      &__timer {
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: space-around;

        &__clock {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          border: 3px solid white;
          display: flex;
          align-items: center;
          justify-content: center;

          &__time {
            color: white;
            font-size: 6rem;
          }
        }

        &__start {
          width: 8rem;
          height: 2.5rem;
          background: white;
          border-radius: 5px;
          font-size: 1.6rem;
          color: 006DD9;
          border: 2px solid #006DD9;
        }
      }
    }
  }
}
