.cross {
	width: 20px;
	height: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: 2px solid #30C5FF;

	& div {
		width: 15px;
		height: 2px;
		background: #30C5FF;
		position: absolute;
	}

	&__line-1 {
		transform: rotate(45deg);
	}
	&__line-1 {
		transform: rotate(-45deg);
	}
}