.cross {
	width: 25px;
	height: 25px;
	align-self: end;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: 1px solid #A66200;
	opacity: 0.7;
  cursor: pointer;

	&:hover {
		opacity: 1;
		border-width: 2px;
	}

	& div {
		width: 15px;
		height: 2px;
		background: #A66200;
		position: absolute;
		border-radius: 1px;
	}

	&__line-1 {
		transform: rotate(45deg);
	}
	&__line-2 {
		transform: rotate(-45deg);
	}
}